@tailwind base;
@layer base {
  :root {
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #c9d1d9;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
  }
  .dark {
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #c9d1d9;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
  }
}
@tailwind components;
@tailwind utilities;
